<div class="col-md-10 search-cont" ng-controller='SearchCtrl as search'>
  <!--[if lt IE 10]>
  <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  <ul id="search">
    <input autocomplete="off" type="text" ng-model="searchForm" ng-keyup="search.searchByName()" name="q" id="topsearch" placeholder="Search..." class="field" />
    <li ng-repeat = "card in search.cards | limitTo: 10">
      <p ng-click="search.addItem($index)">{{card.name}} | {{card.cardSetName}}</p>
    </li>
  </ul>

  <ul id="haves">
    <li ng-repeat="have in search.haves">
      <p ng-click="search.removeItem(have.id)">
        {{have.name}} | {{have.cardSetName}}
      </p>
    </li>
    <button ng-click="search.pushCards(app.user.facebook.id)">Push Stuff</button>
  </ul>
</div>
