body {
  padding: 0;
}

.navbar-header img {
  height: 23pt;
}

.navbar-brand {
  padding-top: 10px;
}

.navbar-brand > img {
  display: inline;
}

.navbar {
  margin-bottom: 0px;
}

.navbar-nav.navbar-right:last-child {
  padding: 10pt;
  margin: 0;
}

.container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 0;
}

.container > img {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 250%;
}

#main {
  position: absolute;
  text-align: center;
  top: 18%;
  left: 8%;
  height: 900px;
  background-color: #222222;
  padding: 0;
  margin: 0;
  border-radius: 5px 5px 0 0;
}

#main > h1 {
  padding: 5pt 0 0 0;
  margin: 0 0 7pt 0;
  color: #fff;
  border-radius: 5px 5px 0 0;
  height: 30pt;
}

#main > h3 {
  color: #9d9d9d;
  font-size: 12pt;
}

.list {
  margin-top: 8%;
  list-style: none;
  padding: 8pt;
}

.listing {
  height: 45pt;
}

.listing:nth-child(odd) {
  background-color: rgb(221, 221, 221);
}

.listing:nth-child(even) {
  background-color: rgb(234, 234, 234);
}

.listing > p {
  display: inline;
  margin-top: 2%;
}

.listAuthor  > p {
  line-height: 30pt;
  font-size: 18pt;
  margin-top: 2%;
}

.authorPic {
  display: inline;
  padding: 0px;
  width: 41pt;
  height: 41pt;
  border-radius: 4px;
  margin: 2pt 5pt 0pt -7pt;
}

#search {
  position: absolute;
  text-align: center;
  top: 180%;
  left: 8%;
  height: 200px;
  background-color: #222222;
}

#search > h3 {
  color: white;
  margin-bottom: 10pt;
}

#search > h4 {
  position: relative;
  top: 32%;
}

#search > div > label {
  color: #555;
  margin-right: 2pt;
}

::-webkit-input-placeholder { /* WebKit browsers */
  font-style: italic;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  font-style: italic;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  font-style: italic;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
  font-style: italic;
}
