body {
  padding: 0;
  font-family: "Cinzel", serif;
}

.logout, .login {
  position: relative;
  right: 30%;
  top: 6pt;
}

.active {
  background-color: #111;
}

.container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 0;
}

.container > img {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 250%;
}

#main {
  position: absolute;
  text-align: center;
  top: 85%;
  left: 8%;
  height: auto;
  background-color: #222222;
  padding: 0;
  margin: 0;
  border-radius: 5px 5px 0 0;
}

#main > h1 {
  padding: 5pt 0 0 0;
  margin: 0 0 3pt 0;
  color: #fff;
  border-radius: 5px 5px 0 0;
  height: 30pt;
}

#main > h3 {
  color: #9d9d9d;
  font-size: 12pt;
  margin-bottom: 0;
}

.list {
  margin-top: 9%;
  list-style: none;
  padding: 8pt;
}

.listing {
  height: 45pt;
  float: none;
}

.listing:nth-child(odd) {
  background-color: rgb(221, 221, 221);
}

.listing:nth-child(even) {
  background-color: rgb(234, 234, 234);
}

.listing > p {
  display: inline;
  margin-top: 5pt;
}

.listAuthor  > p {
  font-size: 18pt;
  margin-top: 5pt;
}

.authorPic {
  display: inline;
  padding: 0px;
  width: 40pt;
  height: 40pt;
  border-radius: 4px;
  margin: 0pt 5pt 0pt -7pt;
}

#search {
  position: absolute;
  text-align: center;
  top: 18%;
  left: 8%;
  height: 325pt;
  background-color: #222222;
}

.card {
  margin-top: 1.5%;
  font-size: 12pt;
}

#search > h3 {
  color: white;
  margin-bottom: 10pt;
}

#search > h4 {
  position: relative;
  top: 32%;
}

#search > div > label {
  color: #555;
  margin-right: 2pt;
}

#results {
  padding: 0;
  margin-top: 10pt;
}

::-webkit-input-placeholder { /* WebKit browsers */
  font-style: italic;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  font-style: italic;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  font-style: italic;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
  font-style: italic;
}

@media screen and (max-width: 992px) {
  .listAuthor > p {
    font-size: 16pt;
  }
}

@media screen and (max-width: 767px) {
  .listAuthor > p {
    font-size: 12pt;
  }
  .card > p {
    font-size: 10pt;
  }

  #main > h1 {
    margin-bottom: 0;
  }

  #main > h3 {
    margin-top: 5pt;
  }

  .list {
    margin-top: 10%;
  }
}

@media screen and (max-width: 585px) {
  .listAuthor > p {
    font-size: 12pt;
    margin-top: 16pt;
  }

  .listAuthor {
    width: 100%;
  }

  .card > p {
    display: none;
  }

  #main > h3 {
    display: none;
  }

  #results > li > p > a {
    font-size: 9pt;
  }

}
